@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/App.css */
.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}





.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
}

.pagination .active {
  font-weight: bold;
}

.category-filter {
  margin-bottom: 20px;
}

/* src/App.css */
@media (max-width: 600px) {
  

  .pagination button {
    padding: 3px 6px;
  }
}
